include includes/head.pug
body
  dialog#dialog
    img#lightboxImg
    a(href="javascript:void(0);")#closeLightbox
      i.fas.fa-times
  include includes/navigation.pug
  div#map
  p#streetName=streetName
  p#offlineFeedback U bent momenteel offline, maar ga gerust door!
  include includes/timeline.pug
  script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
  script(src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.1/lazyload.js")
  script(src="./scripts/bundle.js")
  script.
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./sw.js');
    }
