include includes/head.pug
body
  div#loader.show
    div
      img(src="./images/logo.png")
      h1 Amsterdam's Vault
  dialog#dialog
    img#lightboxImg
    a(href="javascript:void(0);")#closeLightbox
      i.fas.fa-times
  include includes/navigation.pug
  div#map
  p#streetName=streetName
  include includes/timeline.pug
  script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
  script(src="./scripts/app.js")